<h1 class="Title">Consulta de clientes</h1>

<div *ngIf="!mostrarResultados && clientes" style="margin-top: 300px;"  class="row justify-content-center">

  <div class="col-md-4">
      <div class="row justify-content-center">
          <div class="form-group">
              <label style="color:black; margin:auto;">Nombre</label>
            <div class="row justify-content-center">
                <input
                (keyup.enter)="apellidop.focus()"  
                name="busqueda" [(ngModel)]="nombreBuscado" (keyup)="refrescarBusqueda()"
                type="text" class="form-control input-small-text">
            </div>
          </div>
      </div>
  </div>

  <div class="col-md-4">
      <div class="row justify-content-center">
          <div class="form-group">
              <label style="color:black; margin:auto;">Apellido paterno</label>
              <div class="row justify-content-center">
                  <input #apellidop name="busqueda"
                  (keyup.enter)="apellidom.focus()"  [(ngModel)]="apellidopBuscado" (keyup)="refrescarBusqueda()"
                  type="text" class="form-control input-small-text" >
              </div>
          </div>
      </div>
  </div>
    
  <div class="col-md-4">
      <div class="row justify-content-center">
          <div class="form-group">
              <label style="color:black; margin:auto;">Apellido materno</label>
              <div class="row justify-content-center">
                  <input name="busqueda" 
                  #apellidom
                  [(ngModel)]="apellidomBuscado" (keyup)="refrescarBusqueda()"
                  type="text" class="form-control input-small-text">
              </div>
          </div>
        </div>
  </div>
    
  <div style="margin-top:20px;" class="row justify-content-center">
      <button  style="margin:5px;" routerLink="['/']" class="btn colord">Cancelar</button>
      <button (click)="buscar()" style="margin:5px;" class="btn colorb">Buscar</button>
  </div>
  
  </div>




<div *ngIf="mostrarResultados" class="row justify-content-center" style="padding:30px;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientesBuscados;">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.ap_paterno}}</td>
            <td>{{cliente.ap_materno}}</td>
            <td>{{cliente.nombre}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center" style="margin: 3px;">
  <div class="col-md-12">
          <div class="row justify-content-center">
                  <button class="btn btn-danger" (click)="limpiar()">Regresar al menu de consulta</button>
          </div>
  </div>
</div>