<h1 class="Title">Modificacion de material</h1>

<div class="row fullh justify-content-cneter">
    <div class="col-md-12 fullh" style="margin:auto;">
            <form *ngIf="material" class="custom-form fullh">

                <div class="row">
                    <div class="col-md-12">
                            <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
                    </div>
                </div>
                    
                <div class="row" style="margin-top: 270px;">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label >Nombre del material</label>
        
                                    <div class="row justify-content-center">
                                        <input  [(ngModel)]="material['nombre']" name="nombre" type="text" 
                                        class="form-control input-small-text"  placeholder="Nombre del material">
                                    </div>
                                  </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label >Costo unitario del material</label>
                                    <div class="row justify-content-center">
                                        <input  [(ngModel)]="material['costo_unitario']" 
                                        name="costo_unitario" type="number" 
                                        class="form-control input-small-text"  placeholder="Costo unitario">
                                    </div>
                            </div>
                    </div>
                </div>

                <div  *ngIf="!listaDeMateriales || listaDeMateriales.length > 0" class="row justify-content-center">
                        <button class="btn btn-primary" (click)="seleccionar()">Seleccionar</button>
                  </div>

                    <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                    <div class="row justify-content-center">
                                        <button style="margin-left:550px;"  (click)="boton1Handler()" class="btn btn-danger colord">{{boton1}}</button>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="row justify-content-center">
                                        <button style="margin-right:550px;" (click)="boton2Handler()" type="button"  class="btn btn-primary colorb">{{boton2}}</button>
                                    </div>
                            </div>
                    </div>
                       
            </form>
    </div>
</div>

