<h1 class="Title">Modificacion de cliente</h1>
<div class="row">
    <div class="col-md-12" style="margin:auto;">
        <form class="custom-form " *ngIf="cliente">
            <div class="row">
                <div class="col-md-6">
                    <h3>Informacion del cliente</h3>
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Nombre del cliente</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['nombre']" name="nombre" type="text" 
                                            class="form-control input-small-text"  placeholder="Nombre del cliente">
                                    </div>
                            </div>
                    </div>
                    
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Apellido paterno</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['ap_paterno']" name="apellido_paterno" type="text" 
                                            class="form-control input-small-text"  placeholder="Apellido paterno">
                                    </div>
                            </div>
                    </div>
          
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Apellido materno</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['ap_materno']" name="apellido_materno" type="text" 
                                            class="form-control input-small-text"  placeholder="Apellido materno">
                                    </div>
                                </div>
                    </div>
                    
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Email</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['email']" name="email" type="email" 
                                            class="form-control input-long-text"  placeholder="Email">
                                    </div>
                            </div>
                    </div>
        
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Calle</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['calle']" name="calle" type="text" 
                                            class="form-control"  placeholder="Calle">
                                    </div>
                                </div>
                    </div>

                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Ciudad</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['ciudad']" name="ciudad" type="text" 
                                            class="form-control"  placeholder="Ciudad">
                                    </div>
                            </div>
                    </div>

                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Estado</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['estado']" name="estado" type="text" 
                                            class="form-control"  placeholder="Estado">
                                    </div>
                            </div>
                    </div>
                    
                    <div class="row justify-content-center">
                            <div class="form-group">
                                    <label >Codigo postal</label>
                                    <div class="row justify-content-center">
                                            <input (keyup)="changeCP()"  [(ngModel)]="cliente['cp']" name="cp" type="text" 
                                            class="form-control"  placeholder="Codigo Postal">
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-6">
                        <button style="margin-left: 5px" [routerLink]="['/']" class="btn btn-danger colord">Cancelar</button> 
                </div>
                <div class="col-md-6">
                        <button (click)="modificar()" type="button" class="btn btn-primary colorb">Modificar</button>
                </div>
            </div>

            
    </form>
    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta>
    </div>
  </div>

  <div class="row justify-content-center">
        <button style="margin: 25px" (click)="anterior()" class="btn btn-danger">Anterior</button>
        <button style="margin: 25px" (click)="siguiente()" type="submit" class="btn btn-primary">Siguiente</button>
    </div>