<form (ngSubmit)="alta(forma)" #forma="ngForm">
<h1 class="Title">Alta de cliente</h1>
<div class="row h-50 custom-form">
    <div class="col-md-12">
        <div class="row">
                <div class="col-md-6">
                        <h3>Información del cliente</h3>
                        <div class="form-group">
                                <label >Clave del cliente</label>
                                <div class="row justify-content-center">
                                        <input (keyup)="changeID()"  [(ngModel)]="cliente['id']" name="id" type="text" 
                                        class="form-control input-id"  placeholder="Clave">
                                </div>
                                
                              </div>
                              
                              <div class="form-group">
                                      <label >Nombre del cliente</label>
                                      <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['nombre']" name="nombre" type="text" 
                                            class="form-control input-small-text"  placeholder="Nombre">
                                      </div>
                                      
                              </div>
                      
                              <div class="form-group">
                                      <label >Apellido paterno</label>
                                      <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['ap_paterno']" name="apellido_paterno" type="text" 
                                            class="form-control input-small-text"  placeholder="Apellido paterno">
                                      </div>
                              </div>
                    
                              <div class="form-group">
                                  <label >Apellido materno</label>
                                  <div class="row justify-content-center">
                                        <input  [(ngModel)]="cliente['ap_materno']" name="apellido_materno" type="text" 
                                        class="form-control input-small-text"  placeholder="Apellido materno">
                                  </div>
                              </div>
                  
                              <div class="form-group">
                                      <label >Email</label>
                                      <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['email']" name="email" type="email" 
                                            class="form-control input-long-text"  placeholder="Email">
                                      </div>
                              </div>
                </div>

                <div class="col-md-6">
                        <h3>Direccion del cliente</h3>
                            <div class="form-group">
                                    <label >Calle</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['calle']" name="calle" type="text" 
                                            class="form-control input-small-text"  placeholder="Calle">
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <label >Ciudad</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['ciudad']" name="ciudad" type="text" 
                                            class="form-control input-small-text"  placeholder="Ciudad">
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <label >Estado</label>
                                    <div class="row justify-content-center">
                                            <input  [(ngModel)]="cliente['estado']" name="estado" type="text" 
                                            class="form-control input-small-text"  placeholder="Estado">
                                    </div>
                                </div>
                    
                                <div class="form-group">
                                    <label >Codigo postal</label>
                                    <div class="row justify-content-center">
                                            <input (keyup)="changeCP()"  [(ngModel)]="cliente['cp']" name="cp" type="text" 
                                            class="form-control input-id"  placeholder="CP">
                                    </div>
                                </div>
                    </div>
        </div>
    </div>
  </div>

  <div class="row" style="margin-top:30px;">
      <div class="col-md-6">
          <div class="row justify-content-center">
                <button style="margin-left: 5px" [routerLink]="['/']" class="btn btn-danger colord">Cancelar</button> 
          </div>
      </div>
      <div class="col-md-6">
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary colorb">Agregar</button>
            </div>
      </div>
  </div>

  <div class="row justify-content-center" style="margin-top:20px;">
      <div class="col-md-12">
          <div class="row justify-content-center">
                <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta>
          </div>
      </div>
  </div>



</form>