<form novalidate autocomplete="off" class="fullh" (keydown.enter)="$event.preventDefault()" (ngSubmit)="alta(forma,clave)" #forma="ngForm">
<h1 class="Title">Alta de cliente</h1>
<div class="row h-100 custom-form fullh">
    <div class="col-md-12 fullh">
        <div class="row justify-content-center" style="margin-top:20px;">
                <div class="col-md-12">
                        <div class="row justify-content-center">
                              <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta>
                        </div>
                </div>
        </div>
        <div class="row justify-content-center">
                        <h5 style="text-align: center;">Informacion del cliente</h5>
        </div>

        <div class="row">
                <div class="col-md-12">
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="form-group">
                                                <label >Clave del cliente</label>
                                                <div class="row justify-content-center">
                                                        <input #clave (keyup)="changeID(name)" 
                                                         [(ngModel)]="cliente['id']" name="id" type="text" 
                                                        class="form-control input-id"  >
                                                </div>
                                                <label class="red" *ngIf="mensajeClave" >Clave del cliente en uso!</label>     
                                        </div>
                                </div>
                        </div>
                        <div class="row justify-content-center" style="margin-top:100px;">

                                <div class="col-md-3">
                                                <div class="form-group">
                                                                <label >Nombre</label>
                                                                <div  class="row justify-content-center">
                                                                      <input (keypress)="omit_special_char($event)" #name (keyup.enter)="apellidop.focus()"  [(ngModel)]="cliente['nombre']" name="nombre" type="text" 
                                                                      class="form-control input-small-text"  >
                                                                </div>
                                                                
                                                </div>
                                </div>

                                <div class="col-md-3">
                                                <div class="form-group">
                                                                <label >Apellido paterno</label>
                                                                <div class="row justify-content-center">
                                                                      <input (keypress)="omit_special_char($event)" (keyup.enter)="apellidom.focus()"  #apellidop  [(ngModel)]="cliente['ap_paterno']" name="apellido_paterno" type="text" 
                                                                      class="form-control input-small-text"  >
                                                                </div>
                                                </div>
                                </div>

                                <div class="col-md-3">
                                                <div class="form-group">
                                                                <label >Apellido materno</label>
                                                                <div class="row justify-content-center">
                                                                      <input (keypress)="omit_special_char($event)" #apellidom (keyup.enter)="email.focus()"   [(ngModel)]="cliente['ap_materno']" name="apellido_materno" type="text" 
                                                                      class="form-control input-small-text"  >
                                                                </div>
                                                </div>
                                </div>

                                <div class="col-md-3">
                                                <div class="form-group">
                                                                <label >Email</label>
                                                                <div class="row justify-content-center">
                                                                <input #email (keyup.enter)="calle.focus()"  [(ngModel)]="cliente['email']" name="email" type="email" 
                                                                class="form-control input-long-text" >
                                                                </div>
                                                </div>
                                </div>
                        </div>
                </div>
        </div>

        <div class="row justify-content-center" style="margin-top:70px; margin-bottom: 10px;">
                <h5 style="text-align: center;">Direccion del cliente</h5>
        </div>

        <div class="row justify-content-center" >
                <div class="col-md-3">
                        <div class="form-group">
                                <label >Calle</label>
                                <div class="row justify-content-center">
                                        <input (keypress)="omit_special_char($event)" #calle (keyup.enter)="numero.focus()"  
                                        [(ngModel)]="cliente['calle']" name="calle" type="text" 
                                        class="form-control input-small-text" >
                                </div>
                        </div>
                </div>
                <div class="col-md-1">
                        <div class="form-group">
                                <label >Numero</label>
                                <div class="row justify-content-center">
                                        <input  #numero (keyup.enter)="ciudad.focus()"  
                                        [(ngModel)]="numeroDir" name="numerodir" type="number" min="0"
                                        class="form-control" >
                                </div>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label >Ciudad</label>
                                <div class="row justify-content-center">
                                <input (keypress)="omit_special_char($event)" #ciudad (keyup.enter)="estado.focus()"  
                                [(ngModel)]="cliente['ciudad']" name="ciudad" type="text" 
                                class="form-control input-small-text"  >
                                </div>
                                            
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label >Estado</label>
                                <div class="row justify-content-center">
                                        <input (keypress)="omit_special_char($event)" #estado (keyup.enter)="cp.focus()"  
                                        [(ngModel)]="cliente['estado']" name="estado" type="text" 
                                        class="form-control input-small-text" >
                                </div>
                        </div>
                </div>
                <div class="col-md-2">
                        <div class="form-group">
                                <label >C.P</label>
                                <div class="row justify-content-center">
                                        <input #cp  [(ngModel)]="cliente['cp']"
                                         name="cp" type="text" 
                                        class="form-control input-id" >
                                </div>
                        </div>

                </div>
        </div>

        <div class="row" style="margin-top:90px;">
                <div class="col-md-6">
                    <div class="row justify-content-center">
                          <button  [routerLink]="['/']" class="btn btn-danger colord">Cancelar</button> 
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="row justify-content-center">
                          <button   #agregar (keyup.enter)="alta(forma,clave)"  type="submit" class="btn btn-primary colorb">Agregar</button>
                      </div>
                </div>
            </div>
    </div>

  </div>







</form>