<app-navbar></app-navbar>
<div class="row">
    <button style="margin:30px; margin-bottom: 0; margin-top: 5px;" [routerLink]="['/tareas']" class="btn btn-danger atras">Atras</button>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Seleccionar la tarea</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="card-group custom">
          <div *ngFor="let tarea of tareasActuales" class="card">
            <div class="card-body">
              <h5 class="card-title">{{tarea.nombre}}</h5>
              <p class="card-text">Tarifa por hora: ${{tarea.tarifa_hora}}</p>
              <p class="card-text">Estado: {{tarea.estado}}</p>
              <p class="card-text"><small class="text-muted">Fecha de termino: {{tarea.fecha_termino}}</small></p>
            </div>
          </div>
        </div>
  </div>
</div>

<div class="row justify-content-center botonera">
    <div class="col-md-12">
            <div class="btn-toolbar" style="justify-content: center; display: flex;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)="anterior()" type="button" class="btn btn-secondary">Anterior</button>
                      <button (click)="siguiente()" type="button" class="btn btn-secondary">Siguiente</button>
            </div>
    </div>
</div>
