<app-navbar></app-navbar>
<div class="row">
    <button style="margin:30px; margin-bottom: 0; margin-top: 5px;" [routerLink]="['/orden']" class="btn btn-danger atras colord">Atras</button>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Seleccionar Orden</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="card-group custom text-color-in-white">
          <div *ngFor="let orden of ordenesActuales" class="card selection" [routerLink]="[orden.id]">
            <div class="card-body">
              <h2 class="card-title">ID de la orden: {{orden.id}}</h2>
              <h3 class="card-title">Cliente de la orden: {{orden.cliente}}</h3>
              <h3 class="card-title">Dirección: {{orden.calle +", "+orden.ciudad+", "+orden.estado+"."}}</h3>
              <h3 class="card-text"><small class="text-muted">Fecha de creación: {{orden.fecha_de_creacion}}</small></h3>
            </div>
          </div>
        </div>
  </div>
</div>

<div class="row justify-content-center botonera">
    <div class="col-md-12">
            <div class="btn-toolbar" style="justify-content: center; display: flex;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button (click)="anterior()" type="button" class="btn btn-secondary colord">Anterior</button>
                      <button (click)="siguiente()" type="button" class="btn btn-secondary colorb">Siguiente</button>
                    </div>
              </div>
      </div>
</div>