<app-navbar></app-navbar>
<div class="row">
        <div class="col-md-6 in">

          <h1 class="Title">Eliminar {{tipo}}</h1>
          
          <form #forma="ngForm">

              <div *ngFor="let opcion of opciones" class="form-group">
                <label for="exampleInputEmail1">{{opcion}}</label>
                <input disabled [(ngModel)]="aux[opcion]" name={{opcion}} type="text" class="form-control" aria-describedby="emailHelp" placeholder={{opcion}}>
              </div>

              <div class="row justify-content-center">
                  <button style="margin-left: 5px" type="button" (click)="eliminar()"  class="btn btn-primary colorb">Eliminar</button>
                  <button style="margin-left: 5px" [routerLink]="['/menu',tipo]" class="btn btn-danger colord">Cancelar</button>
              </div>
              


              <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
                  {{mensaje}}
              </div>


            </form>
        </div>

        <div class="col-md-6 in">
            <div class="img Hide">
              <img class="img" [src]="img" alt="imagen">
            </div>
          </div>
      
        
 </div>