.mycustom {
    background-color: #25315D !important;
    color: white !important;
}

.mycustom:hover {
    background-color: #374684 !important;
}

.mycustom:hover a{
    color: #D7D7D7;
}


.mycustom a{
    color:white ;
}

.mycustom a:hover {
    color: white !important;
}

