<div class="row">
  <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">WorkReports</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#"> Inicio <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Ordenes de trabajo</a>
              <a class="nav-item nav-link" href="#">Tareas</a>
              <a class="nav-item nav-link" href="#">Clientes</a>
              <a class="nav-item nav-link" [routerLink]="['/menu','materiales']">Materiales</a>
              <a class="nav-item nav-link" [routerLink]="['/menu','direcciones']">Direcciones</a>
            </div>
          </div>
          <a class="navbar-brand" (click)="salir()" >Salir</a>
        </nav>
  </div>
</div>