.mycustom:hover {
    background-color: black !important;
}

.mycustom:hover a{
    color: #D7D7D7;
}


.mycustom a{
    color:black ;
}

.mycustom a:hover {
    color: white !important;
}

.bord {
    border-bottom: 1px solid #D7D7D7;
}