<h1 class="Title">Baja de material</h1>
<div class="row justify-content-center">
    <form *ngIf="material" class="custom-form " #forma="ngForm">
      <div class="row justify-content-center">
          <div class="form-group">
              <label >Clave del material</label>
              
              <div class="row justify-content-center">
                  <input disabled [(ngModel)]="material['id']" name="id" type="text" 
                  class="form-control input-id"  placeholder="Clave del material">
              </div>
            </div>
      </div>
        
      <div class="row justify-content-center">
          <div class="form-group">
              <label >Nombre del material</label>
              <div class="row justify-content-center">
                  <input disabled  [(ngModel)]="material['nombre']" name="nombre" type="text" 
                  class="form-control input-small-text"  placeholder="Nombre del material">
              </div>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="form-group">
              <label >Costo unitario del material</label>
              <div class="row justify-content-center">
                  <input disabled [(ngModel)]="material['costo_unitario']" name="costo_unitario" type="number" 
                  class="form-control input-id"  placeholder="Costo unitario">
              </div>
      </div>
      </div>

        <button style="margin: 5px" [routerLink]="['/menu']" class="btn btn-danger colord">Cancelar</button>
        <button style="margin: 5px" (click)="borrar()" type="submit" class="btn btn-primary colorb">Borrar</button>

</form>

<app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 

</div>

<div class="row justify-content-center">
    <button style="margin: 25px" (click)="anterior()" class="btn btn-danger">Anterior</button>
    <button style="margin: 25px" (click)="siguiente()" type="submit" class="btn btn-primary">Siguiente</button>
</div>