<app-navbar></app-navbar>
<div class="row">
    <button [routerLink]="['/home']" class="btn btn-danger atras colord">Atras</button>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Menu principal de tareas</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="row justify-content-center">
        <img src="/assets/tareas.jpg" alt="tarea" class="img">
    </div>
    <div class="botonera">
      <div class="row justify-content-center" style="margin-top:15px;">
        <button class="btn btn-primary colorb" [routerLink]="['agregar']" >Agregar tareas</button>
    </div>
    <div class="row justify-content-center" style="margin-top:15px;">
        <button class="btn btn-primary colorb"  [routerLink]="['seleccionar','modificar']">Modificar tareas</button>
    </div>
    <div class="row justify-content-center" style="margin-top:15px;">
        <button class="btn btn-primary colorb" [routerLink]="['seleccionar','eliminar']" >Eliminar tareas</button>
    </div>
    <div class="row justify-content-center" style="margin-top:15px;">
        <button class="btn btn-primary colorb" [routerLink]="['seleccionar','consultar']" >Consultar tareas</button>
    </div>
    </div>
  </div>
</div>