<h1 class="Title">Consulta de empleados</h1>

<div class="row justify-content-center">

  <div style="margin-top: 300px;" *ngIf="!mostrarResultados" class="row">
      <div style="color:black;" class="form-group">
          <label for="">Nombre del empleado</label>
          
          <div class="row justify-content-center">
              <input name="busqueda" [(ngModel)]="terminoBuscado" (keyup)="refrescarBusqueda()"
              type="text" class="form-control">
          </div>
      
          <div style="margin-top:20px;" class="row justify-content-center">
              <button  style="margin:5px;" routerLink="['/']" class="btn colord">Cancelar</button>
              <button (click)="buscar()" style="margin:5px;" class="btn colorb">Buscar</button>
          </div>
        </div>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12">
          <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta>
    </div> 
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center" style="padding:30px;" >
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleadosBuscados;">
            <th scope="row">{{empleado.id}}</th>
            <td>{{empleado.ap_paterno}}</td>
            <td>{{empleado.ap_materno}}</td>
            <td>{{empleado.nombre}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center" style="margin: 3px;">
  <div class="col-md-12">
          <div class="row justify-content-center">
                  <button class="btn btn-danger" (click)="limpiar()">Regresar al menu de consulta</button>
          </div>
  </div>
</div>