<app-navbar></app-navbar>

<div class="col-md-12">
      <div class="row justify-content-center">
          <h2 style="text-align: center;" class="Title">Consulta de orden {{id}}</h2>
      </div>
      <div class="row justify-content-center" style="margin-top: 50px;">
        <h3 style="text-align: center;">Informacion de la orden</h3>
        <div *ngIf="orden" class="col-md-12">
                <h3 style="text-align: center;" *ngIf="orden.cliente"> <small>Nombre del cliente: </small><strong>{{orden.cliente }}</strong> </h3>
                <h3 style="text-align: center;" *ngIf="orden.empleado"> <small>Nombre del empleado asignado: </small> <strong>{{orden.empleado}}</strong></h3>
                <h3 style="text-align: center;"> <small>Fecha de creacion:</small>  <strong>{{orden.fecha_de_creacion}}</strong></h3>
        </div>
      </div>
      <div class="row">

      </div>
</div>


<div style="margin-bottom:30px;" class="row justify-content-center tipo">
  <div class="col-md-12">


  </div>
</div>

<div style="padding: 30px;" *ngIf="orden" class="row tareas sub">
  <div class="col-md-12">
    <h3 class="sub">Serie de Tareas</h3>
          <table class="table sub">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Tarifa por hora</th>
                <th scope="col">Horas</th>
                <th scope="col">Costo total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tarea of orden.tareas">
                <th scope="row"> <p>{{tarea.nombre}}</p></th>
                <td>${{tarea.tarifa_por_hora}}</td>
                <td>{{tarea.horas}}</td>
                <td>${{tarea.total}}</td>
              </tr>
              <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Costo total de las tareas </th>
                  <th scope="col">${{orden.costo_total_de_tareas}}</th>
                </tr>
            </tbody>
          </table>
  </div>
</div>


<div style="padding: 30px;"  *ngIf="orden" class="row materiales sub">
    <div class="col-md-12">
        <h3 class="sub">Lista de Materiales</h3>
              <table class="table sub">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Costo unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo total del material</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let material of orden.materiales">
                    <th scope="row"> <p>{{material.nombre}}</p></th>
                    <td>${{material.costo_unitario}}</td>
                    <td>{{material.cantidad}}</td>
                    <td>${{material.costo_total_material}}</td>
                  </tr>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Costo total del material </th>
                      <th scope="col">${{orden.costo_total_de_materiales}}</th>
                    </tr>
                </tbody>
              </table>
      </div>
      <div class="col-md-12" style=" margin-bottom: 30px;">
          <div class="col-md-12">
            <div class="row justify-content-center">
                <button (click)="generatePDF()" class="btn btn-primary colorb">Generar PDF</button>
            </div>
            <div class="row justify-content-center">
                <button style="margin:30px; margin-bottom: 0; margin-top: 5px;" 
                [routerLink]="['/']" class="btn btn-danger">Regresar al menu principal</button>
              </div>
          </div>
      </div>
</div>

