<h1 class="Title">Alta de material</h1>

<div class="row justify-content-center fullh h-100">
    <div class="col-md-12" >
            <form (keydown.enter)="$event.preventDefault()" class="custom-form fullh" (ngSubmit)="alta(forma,clave)" #forma="ngForm">
                
                <div class="row justify-content-center" style="width: 100%;">
                        <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
                </div>
                
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label >Clave del material</label>
                                    <div class="row justify-content-center">
                                              <input #clave (keyup)="changeID($event,name)"  [(ngModel)]="material['id']" name="id" type="text" 
                                              class="form-control input-id"  >
                                    </div>
                                    <label class="red" *ngIf="mensajeClave">Clave en uso!</label>
                                  </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 120px;">
                    <div class="col-md-6">
                            <div class="form-group">
                                    <label >Nombre del material</label>
                                    <div class="row justify-content-center">
                                        <input (keyup.enter)="costo.focus()" #name  [(ngModel)]="material['nombre']" name="nombre" type="text" 
                                        class="form-control input-small-text"  >
                                    </div>
                                  </div>
                    </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                    <label >Costo unitario del material</label>
                                    <div class="row justify-content-center">
                                        <input min="0" #costo [(ngModel)]="material['costo']" name="costo_unitario" type="number" 
                                        class="form-control input-small-text"  >
                                    </div>
                            </div>
                    </div>
                </div>
                    


                    <div class="row justify-content-center" style="margin-top:228px;">
                            <div class="col-md-6">
                                <div class="row justify-content-center">
                                        <button [routerLink]="['/menu']" class="btn btn-danger colord">Cancelar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row justify-content-center">
                                    <button   #agregar type="submit" class="btn btn-primary colorb">Agregar</button>
                                </div>
                            </div>
                    </div>
                
                    
            </form>

    </div>
</div>