<app-navbar usuario={{usuario.user}} permiso={{usuario.permission}}></app-navbar>

<div  class="row justify-content-center">
        <div class="col-md-2">
                <div class="form-group text-color-in-white">
                        <label style="text-align:center;">Altas</label>
                        <select [(ngModel)]="altas" (change)="changeAltas()" class="form-control"  name="privilegios" >
                                <option value="seleccionar">Seleccionar</option>
                                <option *ngIf="usuario.permission === 'ADMIN'" value="usuarios">Usuarios</option>
                                <option value="materiales">Materiales</option>
                                <option value="empleados">Empleados</option>
                                <option value="clientes">Clientes</option>
                                <option value="tareas">Tareas</option>
                                <option value="ordenes">Ordenes</option>
                        </select>
                </div>
        </div>
        <div *ngIf="usuario.permission === 'ADMIN'" class="col-md-2">
                <div class="form-group text-color-in-white">
                        <label style="text-align:center;">Bajas</label>
                        <select [(ngModel)]="bajas" (change)="changeBajas()" class="form-control"  name="privilegios" >
                                        <option value="seleccionar">Seleccionar</option>
                                        <option *ngIf="usuario.permission === 'ADMIN'" value="usuarios">Usuarios</option>
                                        <option value="materiales">Materiales</option>
                                        <option value="empleados">Empleados</option>
                                        <option value="clientes">Clientes</option>
                                        <option value="tareas">Tareas</option>
                                        <option value="ordenes">Ordenes</option>
                        </select>
                </div>
        </div>
        <div class="col-md-2">
                <div class="form-group text-color-in-white">
                        <label style="text-align:center;">Modificaciones</label>
                        <select [(ngModel)]="modificaciones" (change)="changeModificaciones()" 
                        class="form-control"  name="privilegios" >
                                        <option value="seleccionar">Seleccionar</option>
                                        <option *ngIf="usuario.permission === 'ADMIN'" value="usuarios">Usuarios</option>
                                        <option value="materiales">Materiales</option>
                                        <option value="empleados">Empleados</option>
                                        <option value="clientes">Clientes</option>
                                        <option value="tareas">Tareas</option>
                                        <option value="ordenes">Ordenes</option>
                        </select>
                </div>
        </div>
        <div class="col-md-2">
                <div class="form-group text-color-in-white">
                        <label style="text-align:center;">Consultas</label>
                        <select class="form-control"  name="privilegios" >
                                        <option value="materiales">Materiales</option>
                                        <option value="empleados">Empleados</option>
                                        <option value="clientes">Clientes</option>
                                        <option value="tareas">Tareas</option>
                                        <option value="ordenes">Ordenes</option>
                        </select>
                </div>
        </div>
        
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
                <app-carrusel></app-carrusel>
    </div>
</div>