
<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Agregar tarea</h1>
  </div>
</div>


<div class="row h100 fullh">

<div class="col-md-12" >
<form (keydown.enter)="$event.preventDefault()" class="custom-form fullh" (ngSubmit)="alta(forma,clave)" #forma="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
            </div> 
        </div>
            <div style="margin-top:100px;" class="row">
                    <div class="col-md-12">
                            <div class="form-group">
                                    <label>Clave de la tarea</label>
                                    <div class="row justify-content-center">
                                        <input #clave
                                        [(ngModel)]="tarea['id']" name="id" type="text" class="form-control input-id"
                                         id="clave de la tarea" (keyup)="changeID(name)" >
                                    </div>
                                    <label class="red"*ngIf="mensajeClave" >Clave de la tarea en uso</label>
                            </div>
                    </div>

            </div>

            <div style="margin-top: 50px;" class="row">
                    <div class="col-md-3">
                        <div class="row justify-content-center">
                                <div class="form-group">
                                        <label>Nombre de la tarea</label>
                                        <div class="row justify-content-center" style="padding: 5px;">
                                            <input #name (keyup.enter)="tarifa.focus()"
                                            [(ngModel)]="tarea['nombre']" name="name" type="text" 
                                             class="form-control small-text-id"
                                             id="nombre de la tarea"  
                                             >
                                        </div>
                                    </div>
                        </div>
                    </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label>Tarifa por hora</label>
                                <div class="row justify-content-center">
                                    <input (keypress)="noNegatives($event)" #tarifa (keyup.enter)="estimado.focus()"
                                    [(ngModel)]="tarea['tarifa_hora']" name="tarifa_hora" type="number" 
                                     class="form-control input-id"
                                     id="tarifa de la tarea"  
                                     >
                                </div>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label>Estimado de horas </label>
                                <div class="row justify-content-center">
                                    <input  (keypress)="noNegatives($event)" #estimado (keyup.enter)="estado.focus()"
                                    [(ngModel)]="tarea['estimado_horas']" name="estimado_horas" 
                                     type="number" class="form-control input-id"
                                     id="estimado_horas"  >
                                </div>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="form-group">
                                <label>Estado de la tarea</label>
                                <div class="row justify-content-center">
                                    <select #estado (keyup.enter)="horas.focus()" [(ngModel)]="tarea['estado']" class="form-control input-id"  name="estado" id="estado">
                                        <option *ngFor="let estado of estados;" value={{estado}}>{{estado}}</option>
                                    </select>
                                </div>
                            </div>
                </div>
            </div>
            <div style="margin-top:50px;" class="row">
                <div class="col-md-6">
                        <div *ngIf="tarea['estado'] === 'COMPLETA'" class="form-group">
                                <label>Horas que se llevo la tarea</label>
                                <div class="row justify-content-center">
                                    <input  (keypress)="noNegatives($event)" #horas (keyup.enter)="fecha.focus()"
                                    [(ngModel)]="horas_reales" name="horas_relaes"
                                     type="number" class="form-control input-id"
                                     id="estimado_horas" 
                                     >
                                </div>
                            </div>
                </div>
                <div class="col-md-6">
                        <div *ngIf="tarea['estado'] === 'COMPLETA'" class="form-group">
                                <label>Fecha de termino</label>
                                <div class="row justify-content-center">
                                    <input #fecha (keyup.enter)="agregar.focus()" class="form-control input-small-text" name="fecha_termino"
                                    [(ngModel)]="fecha_termino"
                                    [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                                    <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
                                </div>
                        </div>
                </div>
            </div>
            <div class="row" style="margin-top:228px;">
                    <div class="col-md-6">
                        <button  [routerLink]="['/tareas']" class="btn btn-danger colord">Cancelar</button>
                    </div>
                    <div class="col-md-6">
                        <button  type="submit" (keyup.enter)="alta(forma,clave)" class="btn btn-primary colorb">Agregar</button>
                    </div>
            </div> 
        </form>     
        </div>
    </div>


