<app-navbar></app-navbar>

<div *ngIf="orden" class="row justify-content-center">
  <h1 class="Title">Eliminar orden {{id}}</h1>
</div>

<div *ngIf="orden" class="row justify-content-center text-color-in-white">
  <div class="col-md-12">
    <h2 style="text-align:center;">Cliente: {{orden.cliente}}</h2>
    <h3 style="text-align:center;">Fecha de creación: {{orden.fecha_de_creacion}}</h3>
  </div>
</div>

<div class="row" *ngIf="orden">
  <div class="col-md-12">
    <h1 class="Title">Materiales asignados a la orden</h1>
    <table class="table sub">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Material</th>
          <th scope="col">Costo unitario</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Costo total del material</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of orden.materiales">
          <th scope="row"> <p>{{material.nombre}}</p></th>
          <td>${{material.costo_unitario}}</td>
          <td>{{material.cantidad}}</td>
          <td>${{material.costo_total_material}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row" *ngIf="orden">
  <div class="col-md-12">
    <h1 class="Title">Tareas asignados a la orden</h1>
    <table class="table sub">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Tarifa por hora</th>
          <th scope="col">Horas</th>
          <th scope="col">Costo total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of orden.tareas">
          <th scope="row"> <p>{{tarea.nombre}}</p></th>
          <td>${{tarea.tarifa_por_hora}}</td>
          <td>{{tarea.horas}}</td>
          <td>${{tarea.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row justify-content-center">
  <button [routerLink]="['/']" style="margin:2px;" class="btn colord">Cancelar</button>
  <button (click)="eliminar()" style="margin:2px;" class="btn colorb">Eliminar</button>
</div>