h3{
    margin: 0;
}
.seleccionar {
    padding: 30px;
    margin-bottom: 0;
}

.selec {
    background-color: #E3E3E3 !important;
    color: black;
    border-color: black;
}

.selec:hover {
    color: white;
    cursor: pointer;
    background-color: black !important;
    border-color: #E3E3E3;
}

.ajustar Button {
    margin-left: 15px;
    margin-right: 15px;
}