h3{
    margin: 0;
}
.seleccionar {
    padding: 30px;
    margin-bottom: 0;
}

.selec {
    background-color: #D671DF !important;
}

.selec:hover {
    color: white;
    cursor: pointer;
    background-color: #BF2650 !important;
}

.ajustar Button {
    margin-left: 15px;
    margin-right: 15px;
}