<h3 class="Title" >Selecciona el {{tipo}}</h3>
<div class="seleccionar">
    <ul *ngIf="tipo === 'Materiales'" class="list-group opciones">
        <div *ngFor="let item of actuales"  [routerLinkActive]="['active']" [routerLink]="['/material',accion,item.id]" class="alert alert-primary selec" role="alert">
           <h2 class="center">{{item.nombre}}</h2>
           <h3 class="center">Costo: {{item.costo_unitario}}</h3>  
        </div>
    </ul>
    <ul *ngIf="tipo === 'Direcciones'" class="list-group opciones">
            <div *ngFor="let item of actuales"  [routerLinkActive]="['active']" [routerLink]="['/direccion',accion,item.id]" class="alert alert-primary selec" role="alert">
               <h2 class="center">{{item.calle}}</h2>
               <h3 class="center">Costo: {{item.ciudad}}</h3>  
               <h3 class="center">Costo: {{item.estado}}</h3>  
               <h3 class="center">Costo: {{item.cp}}</h3>  
            </div>
    </ul>
    
    <ul *ngIf="tipo === 'Usuarios'"  class="list-group opciones">
            <div *ngFor="let item of actuales"  [routerLinkActive]="['active']" [routerLink]="['/usuarios',accion,item.id]" class="alert alert-primary selec" role="alert">
                <h2 class="center">{{item.usuario}}</h2>
                <h3 class="center">Permiso: {{item.privilegios}}</h3>   
            </div>
    </ul>

    <ul *ngIf="tipo === 'Empleados'"  class="list-group opciones">
        <div *ngFor="let item of actuales"  [routerLinkActive]="['active']" [routerLink]="['/empleados',accion,item.id]" class="alert alert-primary selec" role="alert">
            <h2 class="center">{{item.nombre}} {{item.ap_paterno}}</h2>
        </div>
    </ul>

</div>


<div class="row justify-content-center">
    <div class="col-md-12">
            <div class="btn-toolbar" style="justify-content: center; display: flex;" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button (click)="anterior()" type="button" class="btn btn-secondary">Anterior</button>
                      <button (click)="siguiente()" type="button" class="btn btn-secondary">Siguiente</button>
            </div>
    </div>
</div>