<h1 class="Title">Busqueda clientes</h1>

<div class="row justify-content-center">
  <div style="margin:auto;" class="col-md-5">
    <div class="custom-form">
      <div class="row justify-content-center">
          <div class="form-group">
              <label for="">Nombre del cliente</label>
              <div class="row justify-content-center">
                  <input class="form-control input-small-text" [(ngModel)]="nombreCliente" (keyup)="cambiarBusqueda()" 
                  style="margin:auto;" type="text" placeholder="Nombre">
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="form-group">
              <label for="">Apellido paterno del cliente</label>
              <div class="row justify-content-center">
                  <input class="form-control input-small-text" [(ngModel)]="apellidoPCliente" (keyup)="cambiarBusqueda()"
                   style="margin:auto;" type="text" placeholder="Apellido paterno">
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="form-group">
              <label for="">Apellido materno del cliente</label>
              <div class="row justify-content-center">
                  <input class="form-control input-small-text" 
                  [(ngModel)]="apellidoMCliente" (keyup)="cambiarBusqueda()"
                   style="margin:auto;" type="text" placeholder="Apellido materno">
              </div>
            
          </div>
      </div>
    </div>
  </div>
</div>

<div style="margin:20px;" class="row justify-content-center">
  <div style="margin:auto;" class="col-md-5">
    <div class="row justify-content-center">
        <button (click)="busqueda()" style="margin:5px;" class="btn colord">Buscar</button>
        <button [routerLink]="['/']" style="margin:5px;" class="btn colorb">Cancelar</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
</div>