<h1 class="Title">Busqueda clientes</h1>

<div class="row justify-content-center">
  <div  class="col-md-12">
      <div style="margin-top: 270px;"  class="row justify-content-center">
        <div class="col-md-4">
          <div class="row justify-content-center">
              <div class="form-group">
                  <label for="">Nombre del cliente</label>
                  <div class="row justify-content-center">
                      <input
                      #nombre 
                      (keyup.enter)="apellidop.focus()"
                      class="form-control input-small-text" [(ngModel)]="nombreCliente" 
                      (keyup)="cambiarBusqueda()" 
                      style="margin:auto;" type="text" >
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row justify-content-center">
              <div class="form-group">
                  <label for="">Apellido paterno del cliente</label>
                  <div class="row justify-content-center">
                      <input
                      #apellidop (keyup.enter)="apellidom.focus()"
                      class="form-control input-small-text" 
                      [(ngModel)]="apellidoPCliente" (keyup)="cambiarBusqueda()"
                       style="margin:auto;" type="text">
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row justify-content-center">
              <div class="form-group">
                  <label for="">Apellido materno del cliente</label>
                  <div class="row justify-content-center">
                      <input 
                      #apellidom
                      class="form-control input-small-text" 
                      [(ngModel)]="apellidoMCliente" (keyup)="cambiarBusqueda()"
                       style="margin:auto;" type="text">
                  </div>
              </div>
          </div>
        </div>
      </div>
    
      <div style="margin:20px;" class="row justify-content-center">
          <button [routerLink]="['/']" style="margin:5px;" class="btn colord">Cancelar</button>
          <button (click)="busqueda(nombre)" style="margin:5px;" class="btn colorb">Buscar</button>              
      </div>
  </div>
</div>



<div class="row justify-content-center">
    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
</div>