<h1 class="Title">Busqueda de materiales</h1>

<h5 style="color:black; text-align: center;">Nombre del material</h5>

<div class="row justify-content-center">
  <div style="margin:auto;" class="col-md-5">
    <div class="row justify-content-center">
        <input class="form-control input-small-text" [(ngModel)]="terminoBuscado" 
        (keyup)="cambiarBusqueda()" style="margin:auto;" type="text" placeholder="Nombre">
    </div>
  </div>
</div>

<div style="margin:20px;" class="row justify-content-center">
  <div style="margin:auto;" class="col-md-5">
    <div class="row justify-content-center">
        <button [routerLink]="['/']" style="margin:5px;" class="btn colord">Cancelar</button>
        <button (click)="busqueda()" style="margin:5px;" class="btn colorb">Buscar</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
</div>