<app-navbar></app-navbar>

<div class="row">
  <button style="margin:30px; margin-bottom: 0; margin-top: 5px;" [routerLink]="['/tareas/seleccionar/modificar']" class="btn btn-danger atras colord">Atras</button>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Modificar tarea</h1>
  </div>
</div>

<div class="row">


  <div class="col-md-6 Hide">
    <div class="row justify-content-center custom">
        <img src="/assets/tareas.jpg" alt="tarea" class="img">
    </div>
  </div>


  <div class="col-md-6">
    <div class="row justify-content-center">
        <form  class="custom-form" (ngSubmit)="guardar(forma)" #forma="ngForm">
            <div *ngFor="let opcion of opciones" class="form-group">
                <label>{{opcion}}</label>
    
                  <input *ngIf="opcion !== 'estado'"
                  [(ngModel)]="tarea[opcion]" name={{opcion}} type="text" class="form-control"
                   id="exampleInputEmail1"  placeholder={{opcion}}>

                   <select [(ngModel)]="tarea[opcion]" class="form-control" *ngIf="opcion === 'estado'"  name="direcccion" id="">
                      <option *ngFor="let estado of estados;" value={{estado}}>{{estado}}</option>
                   </select>
                
                </div>

                <div *ngIf="tarea['estado'] == 'COMPLETA'" class="form-group">
                  <label>Horas que se llevó la tarea</label>
                  <input [(ngModel)]="tarea['horas_reales']" type="number" class="form-control" name="horas_reales" placeholder="Horas reales">
                </div>

                <div class="row justify-content-center">
                  <button type="submit" class="btn btn-primary button colorb">Guardar</button>
                  <button [routerLink]="['/tareas/seleccionar/modificar']"  class="btn btn-danger button colord">Cancelar</button>
                </div>
        </form>
    </div>
  </div>


</div>