<h1 class="Title">Consulta de tareas</h1>

<div style="margin-top: 300px;" *ngIf="!mostrarResultados" class="row justify-content-center">
  <div style="color:black;" class="form-group">
    <label for="">Nombre de la tarea</label>

    <div class="row justify-content-center">
        <input name="busqueda" [(ngModel)]="terminoBuscado" (keyup)="refrescarBusqueda()"
        type="text" class="form-control input-small-text">
    </div>

    <div style="margin-top:20px;" class="row justify-content-center">
        <button  style="margin:5px;" routerLink="['/']" class="btn colord">Cancelar</button>
        <button (click)="buscar()" style="margin:5px;" class="btn colorb">Buscar</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12">
          <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta>
    </div> 
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center" style="padding:30px;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Tarifa por hora</th>
            <th scope="col">Fecha de termino</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareasBuscadas;">
            <th scope="row">{{tarea.id}}</th>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.estado}}</td>
            <td>${{tarea.tarifa_hora}}</td>
            <td>{{tarea.fecha_termino}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center" style="margin: 3px;">
  <div class="col-md-12">
          <div class="row justify-content-center">
                  <button class="btn btn-danger" (click)="limpiar()">Regresar al menu de consulta</button>
          </div>
  </div>
</div>