<h1 class="Title">Consulta de tareas</h1>
<div class="row justify-content-center">
  <div style="color:black;" class="form-group">
    <label for="">Nombre de la tarea</label>
    <input name="busqueda" [(ngModel)]="terminoBuscado" (keyup)="refrescarBusqueda()"
    type="text" class="form-control" placeholder="Nombre de la tarea">

    <div style="margin-top:20px;" class="row justify-content-center">
        <button (click)="buscar()" style="margin:5px;" class="btn colorb">Buscar</button>
        <button  style="margin:5px;" routerLink="['/']" class="btn colord">Cancelar</button>
    </div>
  </div>
</div>

<div *ngIf="mostrarResultados" class="row justify-content-center">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Tarifa por hora</th>
            <th scope="col">Fecha de termino</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareasBuscadas;">
            <th scope="row">{{tarea.id}}</th>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.estado}}</td>
            <td>${{tarea.tarifa_hora}}</td>
            <td>{{tarea.fecha_termino}}</td>
          </tr>
        </tbody>
      </table>
</div>