<h1 class="Title">Reporte de ordenes de trabajo</h1>

<div style="margin-top: 300px;"  class="row justify-content-center">
  <div class="col-md-12">
    <div class="row justify-content-center">
        <h5 style="color:black; text-align: center;">Clave de la orden</h5>
    </div>
    <div class="row justify-content-center">
        <input (keyup)="changeID()" class="form-control input-id" 
        [(ngModel)]="terminoBuscado" (keyup)="cambiarBusqueda()" style="margin:auto;" type="text">
    </div>
  </div>
</div>

<div style="margin:20px;" class="row justify-content-center">
  <div style="margin:auto;" class="col-md-5">
    <div class="row justify-content-center">
        <button [routerLink]="['/']" style="margin:5px;" class="btn colord">Cancelar</button>
        <button (click)="busqueda()" style="margin:5px;" class="btn colorb">Buscar</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
</div>