<app-navbar></app-navbar>
<div class="row">
  <button style="margin:30px; margin-bottom: 0; margin-top: 5px; " [routerLink]="['/orden']" class="btn btn-danger atras colord">Atras</button>
</div>
<div class="row">
  <div class="col-md-12">
    <h1 class="Title">Crear una orden de trabajo</h1>
  </div>
</div>

<div class="row" *ngIf="direcciones">
  <div class="col-md-12">
    <form  class="custom-form" (ngSubmit)="guardar(forma)" #forma="ngForm" style="margin-bottom:35px;">
      <h1 class="Title">Propiedades</h1>
      <div *ngFor="let opcion of opciones" class="form-group">
          <label>{{opcion}}</label>

            <input *ngIf="opcion !== 'cliente' && opcion !== 'direccion' && opcion !== 'empleado'"
            [(ngModel)]="orden[opcion]" name={{opcion}} type="text" class="form-control"
             id="exampleInputEmail1"  placeholder={{opcion}}>

             <select [(ngModel)]="orden[opcion]" class="form-control" *ngIf="opcion === 'empleado'"  name="direcccion" id="">
                <option *ngFor="let empleado of empleados;" value={{empleado.id}}>{{empleado.nombre}}</option>
            </select>

            <select [(ngModel)]="orden[opcion]" class="form-control" *ngIf="opcion === 'direccion'"  name="direcccion" id="">
                <option *ngFor="let direccion of direcciones;" value={{direccion.id}}>{{direccion.calle+", "+ direccion.ciudad+", "+
                    direccion.estado +" CP: "+direccion.cp}}</option>
            </select>

            <select [(ngModel)]="orden[opcion]" class="form-control" *ngIf="opcion === 'cliente'"  name="direcccion" id="">
                <option *ngFor="let cliente of clientes;" value={{cliente.id}}>{{cliente.nombre}}</option>
            </select>
      </div>

      <div class="form-group">
        <label>fecha_requerida</label>
        <input class="form-control" name="fecha_requerda" placeholder="Fecha requerida"
        [(ngModel)]="orden['fecha_requerida']"
        [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
        <owl-date-time [pickerMode]="'dialog'" #dt1></owl-date-time>
      </div>

      <div class="form-group">
          <label>fecha_termino</label>
          <input class="form-control" name="fecha_termino" placeholder="Fecha termino"
          [(ngModel)]="orden['fecha_termino']"
          [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
          <owl-date-time [pickerMode]="'dialog'" #dt2></owl-date-time>
      </div>

      <div class="tareas">
        <h1 class="Title">Seleccionar tareas</h1>
        <div id="scroller" class="contenedor-de-cartas">
            <div [ngClass]="{'selected': tareaEnTareas(tarea.id) }" *ngFor="let tarea of tareas; let i = index" class="carta text-color-in-white ">
              <div class="card-body">
                <h3 class="card-title">{{tarea.nombre}}</h3>
                <p class="card-text">Tarifa por hora: <strong>$ {{tarea.tarifa_hora}}</strong></p>
                <p class="card-text">Estado: <strong>{{tarea.estado}}</strong></p>
                
                <button *ngIf="!tareaEnTareas(tarea.id)" (click)="selectTarea(tarea)"  style="margin-top:10px" class="btn btn-primary btn-lg btn-block">
                  Agregar
                </button>
                <button  *ngIf="tareaEnTareas(tarea.id)" (click)="unselectTarea(tarea)" style="margin-top:10px" class="btn btn-primary btn-lg btn-block">
                    Eliminar
                </button>
              </div>
            </div>

          </div>
          <h5 class="subtitle">No encuentro la tarea?</h5>
          <div class="row justify-content-center subtitle">
              <button [routerLink]="['/menu','tareas']" class="btn btn-primary">Agregar nueva tarea</button>
          </div>
      </div>

      <div class="materiales">
          <h1 class="Title">Seleccionar materiales</h1>
          <div id="scroller" class="contenedor-de-cartas">
              <div [ngClass]="{'selected': materialEstaEnMateriales(material.id) }" *ngFor="let material of materiales; let i = index" class="carta text-color-in-white ">
                <div class="card-body">
                  <h3 class="card-title">{{material.nombre}}</h3>
                  <p class="card-text">Costo unitario: <strong>$ {{material.costo_unitario}}</strong></p>
                  <input name="cantidad" type="number" class="form-control" placeholder="cantidad" [(ngModel)]="material['cantidad']">
                  <button *ngIf="!materialEstaEnMateriales(material.id)" (click)="selected(material)"  style="margin-top:10px" class="btn btn-primary btn-lg btn-block">
                    Agregar
                  </button>
                  <button *ngIf="materialEstaEnMateriales(material.id)" (click)="unselect(material)"  style="margin-top:10px" class="btn btn-primary btn-lg btn-block">
                      Eliminar
                  </button>
                </div>
              </div>
  
            </div>
            <h5 class="subtitle">No encuentra el material?</h5>
            <div class="row justify-content-center subtitle">
                <button [routerLink]="['/menu','materiales']" class="btn btn-primary">Agregar nuevo material</button>
            </div>
      </div>

      
      
      <div style="margin-top:30px;" class="row justify-content-center">
          <button type="submit" class="btn btn-primary colorb">Agregar</button>
          <button style="margin-left: 5px" [routerLink]="['/orden']" class="btn btn-danger colord">Cancelar</button>
      </div>

  </form>
  </div>
</div>