<app-navbar></app-navbar>
<div class="row">
        <div class="col-md-6 in">
          <h1 class="Title">Consulta de {{tipo}}</h1>
          <form (ngSubmit)="guardar(forma)" #forma="ngForm">

            <div *ngFor="let opcion of opciones" class="form-group">
                <label for="exampleInputEmail1">{{opcion}}</label>
                <input disabled [(ngModel)]="aux[opcion]" name={{opcion}} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{opcion}}>
            </div>

            <div class="row justify-content-center">
                <button style="margin-left: 5px" [routerLink]="['/menu',tipo]" class="btn btn-danger colord">Atras</button>  
            </div>

              


            </form>
        </div>
      
        <div class="col-md-6 in">
            <div class="img Hide">
              <img class="img" [src]="img" alt="imagen">
            </div>
          </div>
  
    </div>