.boton-agregar {
    margin-top: 20px;
    background-color: #374684 !important;
    color: white;
}

.boton-agregar:hover {
    background-color: #25315D !important;
}

.espacio {
    margin-top: 30px;
}