.boton-agregar {
    margin-top: 20px;
    background-color: #87003B !important;
    color: white;
}

.boton-agregar:hover {
    background-color: #FA868A !important;
}

.espacio {
    margin-top: 30px;
    border-bottom:1px solid #FDBBBD;
}