<h1 class="Title">Alta de usuario</h1>
<div class="row justify-content-center h-50">
    <div class="col-md-3" style="margin:auto;">
            <form *ngIf="usuario" class="custom-form " (ngSubmit)="alta(forma)" #forma="ngForm">
                    <div class="form-group">
                      <label >Clave del usuario</label>
                      <div class="row justify-content-center">
                                <input (keyup)="changeID()"  [(ngModel)]="usuario['id']" name="id" type="text" 
                                class="form-control input-id"  placeholder="Clave del usuario">
                      </div>
                    </div>
                    
                    <div class="form-group">
                            <label >Nombre del usuario</label>
                            <div class="row justify-content-center">
                                <input  [(ngModel)]="usuario['usuario']" name="nombre" type="text" 
                                class="form-control input-small-text"  placeholder="Nombre del usuario">
                            </div>
                          </div>
            
                    <div class="form-group">
                            <label >Contraseña</label>
                            <div class="row justify-content-center">
                                <input  [(ngModel)]="usuario['password']" name="password" type="password" 
                                class="form-control input-small-text"  placeholder="Contraseña">
                            </div>
                    </div>

                    <div class="form-group">
                         <label>Permiso del usuario</label>
                         <div class="row justify-content-center">
                                <select [(ngModel)]="usuario['privilegios']" class="form-control input-small-text"  name="permiso" id="permiso">
                                        <option value="USER">USER</option>
                                        <option value="ADMIN">ADMIN</option>
                                </select>
                         </div>

                    </div>
                    
                    <div class="row">
                            <div class="col-md-6">
                                <button style="margin: 5px" [routerLink]="['/menu']" class="btn btn-danger colord">Cancelar</button>
                            </div>
                            <div class="col-md-6">
                                <button style="margin: 5px" type="submit" class="btn btn-primary colorb">Agregar</button>
                            </div>
                    </div>
                    
            </form>
    </div>
</div>
<div class="row justify-content-center">
        <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
</div>