<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-6 in">
    <h1 class="Title">Modificar {{tipo}}</h1>
    
    <form *ngIf="tipo === 'material'" (ngSubmit)="guardar(forma)" #forma="ngForm">
        <div *ngFor="let opcion of opciones" class="form-group">
          <label for="exampleInputEmail1">{{opcion}}</label>
          <input *ngIf="opcion !== 'privilegios'" [(ngModel)]="material[opcion]" name={{opcion}} type="text" class="form-control"  aria-describedby="emailHelp" placeholder={{opcion}}>
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <button style="margin-left: 5px" [routerLink]="['/menu',tipo+'es']" class="btn btn-danger">Cancelar</button>
        <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
            {{mensaje}}
        </div>
      </form>

      <form *ngIf="tipo === 'usuarios'" (ngSubmit)="guardar(forma)" #forma="ngForm">
          <div *ngFor="let opcion of opciones" class="form-group">
            <label for="exampleInputEmail1">{{opcion}}</label>
            <input *ngIf="opcion !== 'permission' && opcion !== 'password'" [(ngModel)]="usuario[opcion]" name={{opcion}} type="text" class="form-control"  aria-describedby="emailHelp" placeholder={{opcion}}>

            <input class="form-control" *ngIf="opcion === 'password'" [(ngModel)]="usuario[opcion]" type="password" name="password">

            <select [(ngModel)]="usuario[opcion]" class="form-control" *ngIf="opcion === 'permission'"  name="privilegios" id="">
                <option selected value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>


          </div>
          <button type="submit" class="btn btn-primary">Modificar</button>
          <button style="margin-left: 5px" [routerLink]="['/menu',tipo+'es']" class="btn btn-danger">Cancelar</button>
          <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
              {{mensaje}}
          </div>
        </form>

        <form *ngIf="tipo === 'direccion'" (ngSubmit)="guardar(forma)" #forma="ngForm">
            <div *ngFor="let opcion of opciones" class="form-group">
              <label for="exampleInputEmail1">{{opcion}}</label>
              <input *ngIf="opcion !== 'privilegios'" [(ngModel)]="direccion[opcion]" name={{opcion}} type="text" class="form-control"  aria-describedby="emailHelp" placeholder={{opcion}}>
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
            <button style="margin-left: 5px" [routerLink]="['/menu',tipo+'es']" class="btn btn-danger">Cancelar</button>
            <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
                {{mensaje}}
            </div>
          </form>

          <form *ngIf="tipo === 'empleados'" (ngSubmit)="guardar(forma)" #forma="ngForm">

            <div *ngFor="let opcion of opciones" class="form-group">

                <select [(ngModel)]="empleado[opcion]" class="form-control" *ngIf="opcion === 'direccion'"  name="direcccion" id="">
                    <option *ngFor="let direccion of direcciones;" value={{direccion.id}}>{{direccion.calle}}</option>
                </select>
        
                <input *ngIf="opcion !== 'direccion' && opcion !== 'privilegios' " [(ngModel)]="empleado[opcion]" name={{opcion}} type="text" class="form-control" id="exampleInputEmail1"  placeholder={{opcion}}>
            
            </div>

            <button type="submit" class="btn btn-primary">Modificar</button>
            <button style="margin-left: 5px" [routerLink]="['/menu',tipo]" class="btn btn-danger">Cancelar</button>
            <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
                {{mensaje}}
            </div>
          </form>

          <form *ngIf="tipo === 'clientes'" (ngSubmit)="guardar(forma)" #forma="ngForm">

              <div *ngFor="let opcion of opciones" class="form-group">
  
                  <select [(ngModel)]="cliente[opcion]" class="form-control" *ngIf="opcion === 'direccion'"  name="direcccion" id="">
                      <option *ngFor="let direccion of direcciones;" value={{direccion.id}}>{{direccion.calle}}</option>
                  </select>
          
                  <input *ngIf="opcion !== 'direccion' && opcion !== 'privilegios' " [(ngModel)]="cliente[opcion]" name={{opcion}} type="text" class="form-control" id="exampleInputEmail1"  placeholder={{opcion}}>
              
              </div>
  
              <button type="submit" class="btn btn-primary">Modificar</button>
              <button style="margin-left: 5px" [routerLink]="['/menu',tipo]" class="btn btn-danger">Cancelar</button>
              <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
                  {{mensaje}}
              </div>
            </form>


  </div>

  <div class="col-md-6 in">
    <div class="img Hide">
      <img class="img" [src]="img" alt="imagen">
    </div>
  </div>
</div>