<div class="row">
  <div class="col-md-6 in">
    <h3>Modificar {{tipo}}</h3>
    <form (ngSubmit)="guardar(forma)" #forma="ngForm">
        <div *ngFor="let opcion of opciones" class="form-group">
          <label for="exampleInputEmail1">{{opcion}}</label>
          <input [(ngModel)]="material[opcion]" name={{opcion}} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{opcion}}>
        </div>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <button style="margin-left: 5px" [routerLink]="['/menu']" class="btn btn-danger">Cancelar</button>
        <div *ngIf="mensaje" class="alert alert-danger" style="margin-top: 15px;" role="alert">
            {{mensaje}}
        </div>
      </form>
  </div>

  <div class="col-md-6 in">
    <div class="img">
      <img class="img" src="/assets/cons.jpg" alt="imagen">
    </div>
  </div>
</div>