/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html,body{
    height: 100%;
    background-color: #F9F9F9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: #fef0fb;
}

.full {
    height: 100%;
    padding: 0;
}

a{
    cursor: pointer;
}

.in {
    padding: 30px;
}

.custom-form{
    padding: 10px;
    color: #202020;
    text-align: center;
}

.titulo-form {
    margin: 15px;
}

.center {
    text-align: center;
}

.paginacion {
    margin: auto;
}

.Hide {
    text-align: justify;
}

.Title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    border-bottom: 2px solid #E3E3E3;
    color: #202020;
    padding: 5px;
    margin-bottom: 10px;
}

.custom{
    margin: 5%;
}
.custom img {
    width: 600px;
    height: 400px;
}

.colorb {
    background-color: #E3E3E3 !important;
    color: #202020;
    border-color: black;
    
}

.colorb:hover {
    background-color: #202020 !important;
    color: white;
}

.colorb:active{
    border-color: #E3E3E3;
}

.colord {
    background-color: #202020 !important;
    color: white;

}

.colord:hover {
    background-color: #E3E3E3 !important;
    color: #202020;
}
.colord:active{
    border-color: #E3E3E3;
}

.list-group-item.active {
    background-color: #202020 !important;
    border: #202020;
    outline: black;
}

.list-group-item:active {
    outline: black;
}

.text-color-in-white {
    color: #1F1F1F;
}

.activated {
    color: rgba(196, 191, 191, 0.822) !important;
    border-bottom: 1px solid black;
    
}

.selected {
    background-color: rgba(196, 191, 191, 0.822) !important;
}

.cst:active {
    border-color: #202020;
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    .Hide {
        display: flex;
        justify-content: center;
    }

    .newh {
        display: none;
    }
}


