/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html,body{
    height: 100%;
    background-color: #A8D2E7;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    color: #fef0fb;

}

.full {
    height: 100%;
    padding: 0;
}

a{
    cursor: pointer;
}

.in {
    padding: 30px;
}

.custom-form{
    padding: 10px;
    background-color: #EF6C6C;
    color: #E4E2F5;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.custom-form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.titulo-form {
    margin: 15px;
}

.center {
    text-align: center;
}

.paginacion {
    margin: auto;
}

.Hide {
    text-align: justify;
}

.Title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    border-bottom: 2px solid #25315D;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.custom{
    margin: 5%;
}
.custom img {
    width: 600px;
    height: 400px;
}

.colorb {
    background-color: #374684 !important;
    color:#E4E2F5;
    border-color: black;
    
}

.colorb:hover {
    background-color: #24305E !important;
    color: white;
}

.colorb:active{
    border-color: #E3E3E3;
}

.colord {
    background-color: #F7EAA0 !important;
    color: black;

}

.colord:hover {
    background-color: #EF6C6C !important;
    color: white;
}
.colord:active{
    border-color: #F55760;
}


.text-color-in-white {
    color: #1F1F1F;
}

.activated {
    color: rgba(196, 191, 191, 0.822) !important;
    border-bottom: 1px solid black;
    
}

.selected {
    background-color: rgba(196, 191, 191, 0.822) !important;
}

.cst:active {
    border-color: #202020;
}

.fullh {
    height: 100%;
}

.input-id{
    width: 130px;
}

.input-small-text{
    width: 155px;
}

.input-long-text{
    width: 225px;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    .Hide {
        display: flex;
        justify-content: center;
    }

    .newh {
        display: none;
    }
}


