/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    background-color: #ECC564;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.full {
    height: 100%;
    padding: 0;
}

a{
    cursor: pointer;
}

.in {
    padding: 30px;
}

.custom-form{
    border: 3px solid #167AF6;
    padding: 10px;
    border-radius: 5px;
}

.titulo-form {
    margin: 15px;
}

.center {
    text-align: center;
}

.paginacion {
    margin: auto;
}

.Hide {
    text-align: justify;
}

.Title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    border-bottom: 3px solid #266886;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px){
    .Hide {
        display: none;
    }
}