.opciones{
    margin: auto;
}

.modify {
    padding: 30px;
}

.modify h1 {
    text-align: center;
}

.atras{
    margin-left: 25px;
    margin-top: 15px;
}

li {
    cursor: pointer;
} 

li:hover {
    background-color: #167AF6;
    color:white;
}

.img {
    margin-top: 0px;
    margin-left: 80px;
}

.cm {
    margin-bottom: 50px;
}