<app-navbar></app-navbar>
<div class="row">
    <button [routerLink]="['/home']" class="btn btn-danger atras">Atras</button>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 full">
    <div class="modify">
        <h1 class="Title">{{tipo}}</h1>
        <ul class="list-group opciones">
            <li [routerLinkActive]="['active']" [routerLink]="['agregar',tipo]" class="list-group-item">Agregar</li>
            <li class="list-group-item" [routerLinkActive]="['active']" [routerLink]="['modificar',tipo]">Modificar</li>
            <li class="list-group-item" [routerLinkActive]="['active']" [routerLink]="['eliminar',tipo]">Eliminar</li>
            <li class="list-group-item" [routerLinkActive]="['active']" [routerLink]="['consultar',tipo]">Consultar</li>
          </ul>
    </div>    
    <div class="row Hide cm">
            <div class="col-md-6">
                <div class="img">
                    <img class="img" [src]="img" alt="imagen">
                </div>
            </div>
        </div>
  </div>
  
  <div class="col-md-6 cm">
      <router-outlet></router-outlet>
  </div>
</div>