<h1 class="Title">Modificacion de empleado</h1>
<div class="row fullh">
  <div class="col-md-12 fullh">
                <div class="row" style="margin: 3px;">
                                <div class="col-md-3">
                                        <div class="row justify-content-center">
                                                <button class="btn btn-danger" routerLink="['/']">Atras</button>
                                        </div>
                                </div>
                        </div>
      <form *ngIf="empleado" class="custom-form fullh">

        <div class="row">
                    <div class="col-md-12">
                            <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
                    </div>
        </div>

        <div class="row" style="margin-top: 200px;">
                <div class="col-md-4">
                        <div class="form-group">
                                <label >Nombre del empleado</label>
                                <div class="row justify-content-center">
                                    <input 
                                    (keypress)="omit_special_char($event)"
                                    [(ngModel)]="empleado['nombre']" name="nombre" type="text" 
                                    class="form-control input-small-text"  placeholder="Nombre">
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <label >Apellido paterno</label>
                                <div class="row justify-content-center">
                                    <input 
                                    (keypress)="omit_special_char($event)"
                                    [(ngModel)]="empleado['ap_paterno']" name="ap_paterno" type="text" 
                                    class="form-control input-small-text"  placeholder="Apellido paterno">
                                </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <label >Apellido materno</label>
                                <div class="row justify-content-center">
                                    <input 
                                    (keypress)="omit_special_char($event)"
                                    [(ngModel)]="empleado['ap_materno']" name="ap_materno" type="text" 
                                    class="form-control input-small-text"  placeholder="Apellido materno">
                                </div>
                        </div>
                </div>
        </div>
          




      <div *ngIf="!listaDeEmpleados || listaDeEmpleados.length > 0" class="row justify-content-center">
            <button style="margin: 5px" (click)="seleccionar()" class="btn btn-primary">Seleccionar</button>
    </div>
  
      <div class="row" style="margin-top: 150px;">
            <div class="col-md-6">
                    <div class="row justify-content-center">
                        <button (click)="b1Handler()" class="btn btn-danger colord">{{boton1}}</button>
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="row justify-content-center">
                        <button (click)="b2Handler()" type="button"  class="btn btn-primary colorb">{{boton2}}</button>
                    </div>
            </div>
    </div>

    
  </form>

    <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
  </div>
</div>
