<h1 class="Title">Alta de empleado</h1>
<div class="row h-100">
  <div class="col-md-12">

      <form (keydown.enter)="$event.preventDefault()" class="custom-form fullh" (ngSubmit)="alta(forma,clave)" #forma="ngForm">
        <div class="row justify-content-center" style="width: 100%;">
            <app-alerta *ngIf="mensaje" [mensaje]="mensaje"></app-alerta> 
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-md-12">
              <div class="form-group">
                  <label >Clave del empleado</label>
                  <div class="row justify-content-center">
                      <input #clave (keyup)="changeID($event, name)"  [(ngModel)]="empleado['id']"
                       name="id" type="text" 
                      class="form-control input-id"  >
                  </div>
                  <label class="red" *ngIf="mensajeClave">Clave del empleado en uso!</label>
                </div>
          </div>
        </div>
        
        <div class="row" style="margin-top:130px;">
          <div class="col-md-4">
              <div class="form-group">
                  <label >Nombre del empleado</label>
                  <div class="row justify-content-center">
                      <input (keyup.enter)="apellidop.focus()" #name  [(ngModel)]="empleado['nombre']" name="nombre" type="text" 
                      class="form-control input-small-text"  >
                  </div>
          </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label >Apellido paterno</label>
                  <div class="row justify-content-center">
                      <input (keyup.enter)="apellidom.focus()" #apellidop [(ngModel)]="empleado['ap_paterno']" name="costo_unitario" type="text" 
                      class="form-control input-small-text"  >
                  </div>
          </div>
          </div>
          <div class="col-md-4">

              <div class="form-group">
                  <label >Apellido materno</label>
                  <div class="row justify-content-center">
                      <input (keyup.enter)="agregar.focus()" #apellidom [(ngModel)]="empleado['ap_materno']" name="costo_unitario" type="text" 
                      class="form-control input-small-text"  >
                  </div>
          </div>
          </div>
        </div>


      <div class="row" style="margin-top:100px;">
        <div class="col-md-6">
            <button  [routerLink]="['/menu']" class="btn btn-danger colord">Cancelar</button>
        </div>
        <div class="col-md-6">
            <button  (keyup.enter)="alta(forma, clave)" #agregar type="submit" class="btn btn-primary colorb">Agregar</button> 
        </div>
      </div>

  </form>

  </div>
</div>