.tareas {
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}

.table {
    color: white;
    text-align: center;
}

.materiales {
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}

.sub {
    text-align: center;
    color: #424242;
}