<app-navbar></app-navbar>
<div class="row">
  <button style="margin:30px; margin-bottom: 0; margin-top: 5px;" [routerLink]="['/orden/seleccionar/consultar']" class="btn btn-danger atras colord">Atras</button>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="Title">Consulta de orden {{id}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row justify-content-center">
      <img src="/assets/orden.jpeg" alt="tarea" class="img">
    </div>
  </div>

  <div *ngIf="orden" class="col-md-8 sub">
    <h3>Nombre del cliente: <strong>{{orden.cliente}}</strong> </h3>
    <h3>Nombre del empleado asignado: <strong>{{orden.empleado}}</strong></h3>
    <h3>Fecha de creacion: <strong>{{orden.fecha_de_creacion}}</strong></h3>
    <div class="row justify-content-center">
        <button (click)="generatePDF()" class="btn btn-primary colord">Generar PDF</button>
    </div>
  </div>
</div>

<div *ngIf="orden" class="row tareas sub">
  <div class="col-md-12">
    <h3 class="sub">Tareas</h3>
          <table class="table sub">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tarea</th>
                <th scope="col">Tarifa por hora</th>
                <th scope="col">Horas</th>
                <th scope="col">Costo total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tarea of orden.tareas">
                <th scope="row"> <p>{{tarea.nombre}}</p></th>
                <td>${{tarea.tarifa_por_hora}}</td>
                <td>{{tarea.horas}}</td>
                <td>${{tarea.total}}</td>
              </tr>
            </tbody>
          </table>
  </div>
</div>

<div *ngIf="orden" class="row materiales sub">
    <div class="col-md-12">
        <h3 class="sub">Materiales</h3>
              <table class="table sub">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Material</th>
                    <th scope="col">Costo unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo total del material</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let material of orden.materiales">
                    <th scope="row"> <p>{{material.nombre}}</p></th>
                    <td>${{material.costo_unitario}}</td>
                    <td>{{material.cantidad}}</td>
                    <td>${{material.costo_total_material}}</td>
                  </tr>
                </tbody>
              </table>
      </div>
</div>